/* HOME LANDING CONTENT */
* {
    margin: 0;
    padding: 0;
}
.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 2em;
    min-height: 100vh;
    background-image: url(../Assets/pictures/home-pic-nature.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeLogoContainer {
    width: 35%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.homeLogo {
    width: 100%;
}

.btnEntrer {
    font-family: "glow";
    font-size: 2em;
    color: whitesmoke;
    text-shadow: 0 0 10px black;
    border: 2px solid whitesmoke;
    background-color: transparent;
    border-radius: 25px;
    padding: 0.25em 0.75em;
}

.btnEntrer:hover {
    color: var(--main-darkGreen-color);
    background-color: whitesmoke;
    text-shadow: 0 0 5px var(--main-darkGreen-color);
    border: 2px solid var(--main-darkGreen-color);
}

@media screen and (max-width: 800px) {

    .homeLogoContainer {
        width: 80%;
    }
}