:root {
    --delete-icon-color: rgba(220, 53, 70, 0.7);
}

:root {
    --edit-icon-color: rgba(0, 123, 255, 0.7);
}

:root {
    --add-icon-color: rgba(40, 167, 70, 0.7);
}

.adminPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100vw;
    font-family: "glow";
    color: var(--main-darkGreen-color);
    margin-bottom: 1em;
}

.adminPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 70%;
}

.goBackAdminPanel {
    display: flex;
}

.goBackAdminPanel a {
    text-decoration: none;
    font-size: 1.1em;
    color: var(--main-darkGreen-color);
}

.adminForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    border: 2px solid var(--main-darkGreen-color);
    padding: 1.5em;
    margin-top: 2em;
}

.adminPanelBtn {
    display: flex;
    gap: 0.5em;
}

.adminItem {
    border: 2px solid var(--main-darkGreen-color);
    width: 100%;
}

.adminItemView {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.adminItemView.BtnView {
    width: 10%;
}

.adminInput {
    width: 60%;
    padding: 15px;
    margin: 5px;
    display: flex;
    border: 1px solid var(--main-darkGreen-color);
    border-radius: 10px;
    background: #f1f1f1;
}

.adminPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.category {
    background-color: rgba(0, 0, 0, 0.2);
}

.collection {
    background-color: rgba(0, 0, 0, 0.1);
}


.adminBtn {
    display: flex;
    border: 1px solid var(--main-darkGreen-color);
    border-radius: 5px;
    cursor: pointer;
}

.delete {
    background-color: var(--delete-icon-color);
}

.edit {
    background-color: var(--edit-icon-color);
}

.add {
    background-color: var(--add-icon-color);
}

.adminLink {
    color: whitesmoke;
    font-family: "glow";
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.25em 0.5em;
}

.icon {
    font-size: 1.7em;
}


/* ADD PIC VIEW PICTURES PREVIEW */
.contentCollPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    padding: 1em 0;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 2px solid var(--main-darkGreen-color);
    border-bottom: 2px solid var(--main-darkGreen-color);
}

.allCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 1em;

}

.card {
    border-top: 2px solid var(--main-darkGreen-color);
    border-right: 2px solid var(--main-darkGreen-color);
    border-left: 2px solid var(--main-darkGreen-color);
    border-radius: 15px;
    padding: 0.2em;
}

.imgContainer {
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 15px;
}

.spanGrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25em 0.5em;
    background-color: var(--main-lightGreen-color);
}

.imgTitle {
    font-family: 'glow';
    color: whitesmoke;
}

.adminBtnGrp {
    display: flex;
}